@font-face{
	font-family: Founders-Grotesk;
	src:url('./src/founders-grotesk-test-bold.woff') format('woff');
    font-style: normal;
}
@font-face{
	font-family: Founders-Grotesk-semibold;
	src:url('./src/FoundersGroteskWeb-Medium.woff2') format('woff');
    font-style: normal;
}
@font-face{
	font-family: Founders-Grotesk-regular;
	src:url('./src/founders-grotesk-test-regular.woff') format('woff');
    font-style: normal;
}
@font-face{
	font-family: Segoe-UI;
	src:url('./src/Segoe\ UI.woff') format('woff');
    font-style: normal;
}
html{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    min-width: 320px;
    text-size-adjust: 100%;
}
body{
    align-content: center;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    font-family: Helvetica-Neue,arial,helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    overflow-y: scroll;
}
@media(max-width:1136px){
    .width-component{
        padding: 0px 32px 0px 32px;
    }
}
.width-component{
    max-width:1136px;
}
.full-components{
    display: flex;
    flex-direction:column ;
    color:#000000;
    margin: 0 auto;
}



/*start of header*/
.lists{
    max-height: 56px;
    background-color: #fff;
    border-bottom: .5px solid rgba(33,37,44,.1);
}
.container{
    max-width: 1136px;
    margin: 0 auto;
}
.header-panel{
    max-width: 1136px;
    padding: 0;
    margin: 0 auto;
}
nav{
  height: inherit;
}
.header-panel{
    max-height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    align-items: center;
    justify-content: space-between;
    padding:0 15px;
    box-sizing: border-box;
}

.left-section{
    line-height: 2.1;
    height: inherit;
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    max-width: 65%;
}
.svg-file{
    margin-top: 10px;
    justify-content: center;
    width:28px;
    height: 32px;
    margin-bottom: 0;
}
.logo{
    margin-top: 18px;
    margin-bottom: 21px;
    max-height: 56px;
    margin: 10px 0;
    width: 28px;
    display: flex;
    margin-right: 15px;
}
.menu{
    padding:0;
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    align-items: center;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.list-left-section{
    position: relative;
    white-space: nowrap;
    z-index: 1;
}
.menulink{
    display: flex;
    margin-right: 0;
    text-decoration: none;
}
.linkies {
    max-width: inherit;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    height: 42px;
    line-height: 3.5;
    padding: 0 15px;
}
.right-section{
    max-height: inherit;
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.search-flex{
    display: none;
}
.container-12{
    position: absolute;
    background-color: #fff;
}
.right-section-link{
    color: #3078ca;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
}
@media (max-width: 576px){
    .left-section {
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    max-width: 65%;
    overflow-y: auto;
    }
    .right-section{
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    }
}
@media (min-width: 720px){
    .left-section {
        max-width: none;
        overflow-y: visible;
    }
}
@media (min-width: 992px){
    .search-flex {
        fill: #999;
        height: inherit;
        display: flex;
        flex-direction: row;
        min-width: 0;
        min-height: 0;
        align-items: center;
        border-left: 0.5px solid rgba(33,37,44,.1);
        padding-left: 10px;
        position: relative;
        margin-bottom: 0;
    }
    label{
        cursor: default;
    }
    .input-search{
        color: #999;
        border: 0;
        height:56px;
        margin-left: 5px;
    }
    input[type="text" i] {
        padding: 1px 2px;
        font: 400 10px Arial;
    }
    input:focus{
        outline: none;
        border: 0;
    }
}


/*end of header*/






.blogheaderlink {
    font-family:Segoe-UI ;
    font-weight: lighter;
    text-decoration: none;
    color:#3078ca ;
}

.covid-19{
    width: 80%;
    line-height: 3.5;
    margin-top: 24px;
    font-family: Segoe-UI;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    background-color: #385075;
    color: #fff;
    margin: 24px auto 0px;
    padding-top: 13.610px 0;
    text-align: center;
    display: block;
    border-radius: 3px;
    letter-spacing: 0.6px;
        
    }




/*Start of Title */
.div-angel-list-title{
    box-sizing: border-box;
    border: lawngreen;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}
.Angel-list-title{
    width: 150px;
}

.topic{
    color:#000000;
    
    width: inherit;
    font-size: 40px;
    word-spacing: 0px;
    line-height:1.1;
    font-family:Founders-Grotesk;
    text-align: center;
    font-weight: bolder;
    margin: 24px 0;
    margin-top: 0;
}
img{
   
    fill: #000000;
}
@media (min-width:720px){
    .topic-para{
        font-family:Segoe-UI;
        font-size:24px;
        width:723px;
        margin-left: auto;
        margin-right: auto;
        height: 72px;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.5;
        text-align: center;
    }
}
.topic-para{
    display: none;
}
.Titlecard{
    padding:88px 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: inherit;
    justify-content: center;
    display: block;
}

.PostAJob{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-width: 0;
    min-height: 0;
    flex-wrap: wrap;
}
.ctalink{
    font-family: Segoe-UI;
    color:#0a6cff;
    margin: auto 0 auto 24px;
}
.ctalink:hover{
    text-decoration: underline;
}

@media (min-width:1136px){
    .topic{
        font-size: 70px;
    }
    
}

/*End of Title */

/*Start of businessunits*/
@media (max-width:720px){
    .BusinessUnits{
        text-align: center;
        display: flex;
        flex-direction: column;
        font-family: Founders-Grotesk-semibold;
        margin-left: auto;
        margin-right: auto;
        height:inherit;
        font-weight: lighter;
        display: flex;
        box-sizing: border-box;
        padding:0;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 40px;
    }
    .topic{
        margin-bottom: 8px;
    }
    .Angellist-talent-align{
        margin:0 0 16px;
        order: 2;
    }
    .Businessunit-align{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        margin: 0 auto;
    }
    .BusinessUnit-1{
        margin-bottom: 40px;
    }
    
    .webp{
        order: 1;
        text-align: center;
        margin: 0 auto;
    }
}
@media(min-width:720px)
{
    .BusinessUnits{
        font-family: Founders-Grotesk-semibold;
        margin-left: auto;
        margin-right: auto;
        height:inherit;
        font-weight: lighter;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding:0;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 120px;
    }
    .BusinessUnit-1{
        font-weight: lighter;
        box-sizing: border-box;
        align-items: flex-start;
        margin-bottom: 0;
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-width: 0;
        min-height: 0;
        width: 30%;
    }
    .Businessunit-align{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        flex-flow: row;
        box-sizing: border-box;
    }
}

h3{
    margin: 19px 0px 16px ;
}

.Angellist-talent-align{
     font-weight: lighter;
    font-size: 23px;
}
.webp{
    object-fit: scale-down ;
    max-width: 65px;
    max-height: 65px;
    float: right;
}
.angellist-talent-content{
    font-family: Segoe-UI;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.5;
}
.apply-to-be-an-investor:hover{
    font-weight: bolder;
    background-color:#322c81;
    color: #FFF;
    font-size: 19px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
.apply-to-be-an-investor{
    font-weight: bolder;
    background-color:#4139a7;
    color: #FFF;
    font-size: 19px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
.explore-products{
    font-weight: bolder;
    background-color: #cc4d29;
    color: #FFF;
    font-size: 19px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
.explore-products:hover{
    font-weight: lighter;
    background-color: #a23d20;
    color: #FFF;
    font-size: 19px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
.find-startup-jobs{
    font-weight: bolder;
    background-color: #0f6fff;
    color: #FFF;
    font-size: 19px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
.find-startup-jobs:hover{
    font-weight: bolder;
    background-color: #0058db;
    color: #FFF;
    font-size: 19px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}

/*End of businessunits*/
/*Start of Editorial Pitch*/

@media(min-width: 720px){
    .EditorialPitch{
        display: flex;
        flex-direction: column;
        width: inherit;
        margin: 0 auto;
        text-align: left;
    }
    .grow-your-career-img{
        position: relative;
        right: 0;
        top: 10px;
        width: 100%;
    }
    
    
    .growyourcareer{
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        min-width: 0;
        min-height: 0;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin-bottom: 112px;
        position: relative;
    }
    .growyourcareer2{
        margin-bottom: 0;
    }
    .find-startup-jobs2{
        font-family: Founders-Grotesk-semibold;
        font-weight: lighter;
        background-color: #0f6fff;
        color: #FFF;
        font-size: 20px;
        line-height: 1.5;
        padding: 16px 32px;
        border-radius: 3px;
        text-decoration: none;
    }
    .find-startup-jobs2:hover{
        font-family: Founders-Grotesk-semibold;
        font-weight: lighter;
        background-color: #0058db;
        color: #FFF;
        font-size: 20px;
        line-height: 1.5;
        padding: 16px 32px;
        border-radius: 3px;
        text-decoration: none;
    }
    .left-section-editorial{
        width: 50%;
    }
    
}

.h2para{
    font-family: Segoe-UI;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    
        
}
.talentValueProps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    flex-wrap: wrap;
 }
 .growCareerPoint{
    width:45%;
    margin-bottom: 32px;
 }
 .paraclones{
    font-family: Segoe-UI;
    margin:0;
 }

.heading3,
.heading4{
    font-family: Founders-Grotesk;
    font-size: 40px;
}
@media(min-width: 1136px){
    .heading3{
        font-family: Founders-Grotesk;
        font-size: 70px;
        word-spacing: -3px;
        letter-spacing: 0px;
        margin-top: 0;
        margin-bottom: 40px;
        box-sizing: border-box;
        max-height: 72px;
        line-height: 1;
        justify-content: center;
    }
}
@media (max-width:1136px){
    .growCareerPoint{
        width: 100%;
    }
}
@media(max-width: 720px){
.growCareerPointRecruiting{
        display: block;
}
    .EditorialPitch{
    width: inherit;
    margin: 0 auto;
    text-align: left;
    padding: 0 32px;
}
.right-section-editorial {
    position: absolute;
    right: -70px;
    top: -80px;
    width: 50%;
    height: auto;
    right: 24px;
} 
.grow-your-career-img{
    position: absolute;
    right: -56px;
    top: 11px;
    width: 100%;
    height: auto;
}
.growyourcareer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 112px;
    position: relative;

}
.left-section-editorial{
    width: 100%;
}
.heading2{
    margin-bottom: 4px;
}
.heading3{
    margin-top: 0;
}
.talentValueProps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    flex-wrap: wrap;
}
.growCareerPoint{
    width: 100%;
    margin-bottom: 32px;
}
.find-startup-jobs2{
    font-family: Founders-Grotesk-semibold;
    font-weight: lighter;
    background-color: #0f6fff;
    color: #FFF;
    font-size: 20px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
.find-startup-jobs2:hover{
    font-family: Founders-Grotesk-semibold;
    font-weight: lighter;
    background-color: #0058db;
    color: #FFF;
    font-size: 20px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
}





/*Start of recruiting editorial*/
@media(max-width: 720px){
.grow-your-career-img2{
    position: absolute;
    top: -80px;
    right: -32px;
    z-index: 0;
    width: 130px;
}
.right-section-editorial-venture{
    height: 0;
}
}   
.right-section-editorial-venture{
    width: 45%;
    text-align: right;
    position: relative;
}

.content{
    position: relative;
    margin: 0 auto;
    max-width:100%;
    height: fit-content;
}
.recruiting-editorial{
    font-family: Founders-Grotesk-semibold;
    padding: 72px 72px 144px;
    background-color: #000000;
    color: #FFF;
    margin-bottom: 96px;
    width: inherit;
}
.recruiting-image{
    position: absolute;
    left: 0;
    width: 150px;
    display: flex;
    right: 0;
    margin: 0 auto;
    top: -171px;
}
.inner-container{
    margin: 0 auto;
}

.statistics{
    position: relative;
    margin: 0 auto;
    font-family: Founders-Grotesk-semibold,sans-serif;
    line-height: 1.3;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
@media(min-width:1136px){
    .statistics{
        margin: 0 auto;
        font-size: 270px;
    }
    .heading4{
        font-family: Founders-Grotesk;
        font-size: 70px;
        word-spacing: -3px;
        letter-spacing: 0px;
        margin-top: 0;
        margin-bottom: 40px;
        box-sizing: border-box;
        max-height: 144px;
        line-height: 1;
        justify-content: center;
    }
}

.plus-sign{
    font-size: 50px;
    position: absolute;
}
.statistics-explanation{
    text-align: center;
    font-size: 32px;
    margin: 0 0 96px;
    line-height: 1;
}
.description{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
@media(min-width: 720px){
    .plus-sign{
    top:50px;
    }
    
}
@media(min-width: 1136px){
    .description-left{
        width: 50%;
        
    }
    .description-right{
        width: 45%;
        margin-left: 5%;
    }
    .growCareerPointRecruiting{
        display: flex;
        flex-direction: column;
    }
}

.description-right{
    
    align-self: end;
   
}
.companies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    flex-wrap: wrap;
}
.companywrap{
    width: 86px;
    height: 99px;
    margin: 0 16px 48px;
}
.company-link{
    font-size: 14px;
    font-family: Segoe-UI;
    color:#FFF;
    text-align: center;
    margin: 0;
}
.company-link:hover{
    text-decoration: underline;
    font-size: 15px;
    font-family: Segoe-UI;
    color:#FFF;
    text-align: center;
    margin: 0;
}
.startup-logo{
    width: 70px;
    height: 70px;
    margin: 0 8px 8px;
}
.recruiting-value-props{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.paragraph-large{
    margin: 0 0 40px;
    line-height: 1.5;
    font-family: Segoe-UI;
    font-size: 24px;
}

.applyToBeAnInvestor{
    font-family: Founders-Grotesk-semibold;
    font-weight: lighter;
    background-color: rgb(65, 57, 167);
    color: #FFF;
    font-size: 20px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
.applyToBeAnInvestor:hover{
    font-family: Founders-Grotesk-semibold;
    font-weight: lighter;
    background-color: #322c81;
    color: #FFF;
    font-size: 20px;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 3px;
    text-decoration: none;
}
@media(max-width:1136px){
 .paragraph-large{
    font-size: 20px;
    line-height: 1.5;
} 
.recruiting-value-props{
    display: flex;
    flex-direction: column;
} 


}
@media(max-width:720px){
    .statistics-explanation{
        font-size: 24px;
        line-height: 1.25;
        font-weight: 500;
        margin-bottom: 48px;
        text-align: center;
    }
    .recruiting-editorial{
        padding: 72px 32px 92px;
    }
    
}
/*End of recruiting editorial*/
.right-section-editorial  {
    width: 45%;
    text-align: right;
    position: relative;
}
.heading2,
.section-small-heading,
.section-wide-heading{
    margin-top: 0;
    margin-bottom: 8px;
    font-family: Founders-Grotesk-semibold,sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
}
.ctalink2{
    color: #322c81;
}
.Jobsheading{
    font-family: Founders-Grotesk-semibold,sans-serif;
    font-size: 32px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.125;
}
.Joblistings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    flex-wrap: wrap;

}
@media(max-width: 720px){
}
.Joblistings-1{
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #000;
    margin-bottom: 24px;
    width: 100%;
}
@media (min-width: 720px){
    .Joblistings-1{
        padding: 16px;
        border-radius: 4px;
        border: 1px solid #000;
        width: auto;
        margin-right: 24px;
    }
}
.details{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
   
}
.loading{
    height: 48px;
    width: 48px;
}
.Jobinfo{
    margin-left: 16px;
}
.salary{
    margin: 0;
	font-family:Segoe-UI ;
    font-size: 14px;
    line-height: 1.5;
}
.Jobtitle{
    font-family:Founders-Grotesk-semibold ;
    font-size: 20px;
    margin-top:0;
    margin-bottom:4px;
}
.companyname{
    text-decoration:underline ;
    color: #000000;
}
.dreamjob{
    font-family: Segoe-UI;
    margin-top: 5px;
    order: 4;
    margin-bottom: 195px;
    text-align: center;
}
.dreamjobcta{
   color:#0a6cff;
}
/*End of Editorial Pitch*/




/*Start of product hunt*/

.phHeading{
    font-size: 48px;
    line-height: 1;
    margin: 0 0 56px;
    font-family: Founders-Grotesk;
    font-weight: lighter;
    text-align: center;
}
.phcontent{
    max-height:inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding:56px;
    box-sizing: border-box;
}
.product-hunt{
    background-color: #000000;
    color: #FFF;
    margin: 144px 0 72px ;
    padding: 48px 0;
    width: inherit;
}
.phrocket{
    position: absolute;
    width: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -120px;
}
.phlogo{
    filter: invert(100%);
    margin-bottom: 40px;
}
.phlink{
    font-family: Founders-Grotesk-semibold;
    font-weight: lighter;
}
@media(max-width: 1136px){
    .phHeading{
        font-size: 32px;
    }
    
}
/*End of product hunt*/

/*Start of Blog Section*/
.blogSection{
    margin: 0 auto;
    margin-bottom: 103px;
}
.blogHeader{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin:0 0 32px;

}
.blogHeaderh2{
    font-family: Founders-Grotesk-semibold;
    font-weight: lighter;
    font-size: 32px;
    margin: 0;
}
.articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 22px;
}
.contentcard{
    width: 30%;
}
.loading2{
    height:auto ;
    width:100% ;
}
.blogheaderlink:hover{
    text-decoration: underline;

}
.category-article{
    font-family: Segoe-UI;
    font-size: 14px;
}
.blog-content:hover{
    margin-top: 0;
    margin-bottom: 8px;
    font-family: Founders-Grotesk-semibold,sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    text-decoration: underline;
}
@media(max-width:720px){
    .contentcard{
        width: 100%;
    }
}
/*End of Blog Section*/
/*Start of Footer*/

@media(max-width:1135px){
    
    .section-small-heading,
    .section-wide-heading{
        font-size: 24px;
       
    }
    .footer-links,.baseline-link{
        font-size: 20px;
    }
    .footer-links:hover{
        font-size: 20px;
    }
    .section-small{
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    text-align: left;
    color: #fff;
    margin-bottom: 64px;
    margin-right: 64px;
    max-width: 224px;
    }
    .content-footer{
        margin: 0;
    }
    .section-wide{
        display: flex;
        flex-direction: column;
        min-width: 0;
        min-height: 0;
        text-align: left;
        color: #fff;
        margin-bottom: 64px;
        margin-right: 16px;
        max-width: 272px;
    }

}
.baseline-link{
    margin: auto 16px auto 0;
}
.footer{
    font-size: 14px;
    font-family: Founders-Grotesk-semibold;
    font-weight: 500;
    color:#FFF;
    background-color: black;
    padding: 40px;
    width: inherit;
}
.footer-links{
    color:#FFF;
    text-decoration: none;
    padding-bottom: 8px;
}
.footer-links:hover{
    color:#FFF;
    text-decoration: underline;
    padding-bottom: 8px;
}
.content-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 0;
    min-height: 0;
    flex-wrap: wrap;
    max-width: 1136px;
}
.section-small,
.section-wide{
    
    display: flex;
    margin-bottom: 64px;
    flex-direction: column;
   
}

.baseline-logo{
    width: 25px;
    height: 36px;
    margin-right: 24px;
}

@media(min-width: 1136px){
    .content-footer{
        margin: 0 auto;
    }
    .section-wide{
    
        width:37%;
    }
    .section-small{
        width: 17%;
        margin-right: 32px;
    }
    .baseline-link{
        font-size: 12px;
        margin: auto 16px auto 0;
    }
}
/*End of Footer*/




